/node_modules
/public/hot
/public/paperclip
/public/storage
/public/certificates
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
Vagrantfile
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.php_cs.cache
