.lang-select {
  margin-bottom: 0;
  list-style: none;

  &:hover {

    .lang-submenu{
      position: absolute;
      display: flex;
      flex-direction: column;
    }

  }
  .lang-selected {
    display: flex;
    align-items: center;

    i {
      padding: 0 3px 4px 8px;
    }
  }

  .lang-submenu {
    padding-left: 0;
    list-style: none;
    display: none;

    &-item {
      position: relative;

      @include hover-focus {
        text-decoration: none;
      }

      @include hover-focus-active {
        &::before {
          background: linear-gradient(to right, rgba(#b7eded, .6) 0%, rgba(#a4edbb, .6) 100%);
          content: "";
          position: absolute;
          bottom: 0.5rem;
          left: -.3em;
          right: 0;
          height: 0.375rem;
          z-index: -1;
        }
      }

    }
  }
}