.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;

  &-dots {
    display: inline-flex;
    justify-content: center;
  }

  &-dot {
    $size: $spacer/2;

    background-color: #B6B6CF;
    width: $size;
    height: $size;
    margin: 0 ($size/2);
    border-radius: 50%;
    display: inline-block;
    opacity: 0;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation: loading-dots 2s #{($i - 1) * 200}ms infinite;
      }
    }
  }

  &-title {
    display: block;
    color: #789589;
    font-family: $headings-font-family;
    letter-spacing: .1em;
    font-size: $font-size-sm;
    margin-top: $spacer;
  }
}

@keyframes loading-dots {
  0% { opacity: 0; transform: scale(0.5) }
  33% { opacity: 1; transform: scale(1) }
  66% { opacity: 0; transform: scale(0.5)}
}