[data-trigger="modal"] {
  overflow: hidden;

  &.is-open {
    pointer-events: none;
  }
}

.n-modal {
  background: #e85657;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1900;
  // opacity: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  left: 0;
  top: 0;

  &.is-open {
    pointer-events: auto;
  }
}

.n-modal-content {
  opacity: 0;
  @include make-container();
  @include make-container-max-widths();
}

.noscroll {
  overflow: hidden;
}